html{
    padding: 5px;
}

/* header */
.jumbotron {
    padding-top: 0;
    height: 100vh;
    background: url("../images/jumbotron2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin-bottom: 0;
}

#header {
    text-align: center;
    margin-top: 15%;
}

/* navigation */
.nav {
    padding: 15px 0 15px 0;
}

.nav a {
    color: white;
}

.nav a:hover {
    color: rgba(256, 256, 256, .3);
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu a:hover {
    color: rgba(0, 0, 0, .3);
}
